html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
}

a {
  color: inherit;
}
